body {
  margin: 0;
  /* overflow: hidden; */
}

#root {
  margin: 0;
  padding: 0;
  border: solid salmon .5em;
  font-family: 'Baloo Tammudu 2';
  line-height: 1.5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

ul {
  margin-top:0;
}

button:hover {cursor: pointer;}
button:focus {outline: 0;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#main-container {
  border: solid goldenrod 3px;
  padding: 1em;
  flex-grow: 1;
  max-height: 100%;
}

#welcome-screen {
  border: solid purple 3px;
  height: 85%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brain {
  border: solid purple 3px;
  height: 85%;
  padding: 1em;
  display: flex;
  justify-content: center;
}

#notebook, #playground {
  margin: 1em;
  padding-left: 1em;
  border: solid olivedrab 3px;
  flex: 1;
}

#menu {
  display: flex;
  border: solid turquoise 3px;
  height: 5%;
  margin-top: 1em;
}

#add-tab-button {
  min-width: 3em;
  height: 100%;
}

.selected {
  background-color: bisque;
}

/* .max-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box;
  -webkit-line-clamp: 10; 
  -webkit-box-orient: vertical;
} */

/* scroll menu disappears when browser height gets smaller than 450px */
@media (max-height: 450px) {
  #notebook {
    height: 90vh;
  }

  #scrollmenu {
    visibility: hidden;
  }
}